.links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 28px;
	margin-right: 80px;
}

.menuButton,
.mobileLinks {
	display: none;
}

@media (max-width: 768px) {
	.links {
		display: none;
	}

	.menuButton {
		display: block;
		cursor: pointer;
	}

	.mobileLinks {
		position: absolute;
		z-index: 100;
		top: 90px;
		right: 0;
		width: 60%;
		height: calc(100vh - 90px);
		background-color: rgb(208, 205, 205);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		overflow: hidden;
	}
}

@media (max-width: 1024px) {
	.links {
		gap: 12px;
		margin-right: 30px;
	}
}
