@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: white;
	--text: black;
	--btn: #ff8e00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: --bg;
	color: --text;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1290px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1536px) {
	.container {
		width: 1266px;
	}
}

@media (max-width: 1366px) {
	.container {
		width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 1024px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 475px;
	}
}
@media (max-width: 475px) {
	.container {
		width: 380px;
	}
}



/* ------------ CUSTOM STYLES ------------ */
/* MOVEMENT SECTION */
@layer utilities {
	.border-bottom-after {
	  position: relative;
	}
	.border-bottom-after::after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  height: 1px;
	  width: 92px;
	  background-color: #FF8E00;
	}
  }
